{% extends "index.html" %}
{% block head %} 

<div class="">
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-flow">
            <div class="table-title">
                <div class="row ">
                    <div class="col-sm-8"><h2>Availablity <b>Details</b></h2></div>
                    <div class="col-sm-4">
                       
                    </div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Unique_ID </th>
                        <th>BGV</th>
                        <th>Acitve</th>
                        <th>Avaialbility</th>
                        <th>Last_shipment_date</th>
                        <th>Last_shipment_day</th>
                        <th>On_Shipment</th>
                        <th>Blacklisted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in activity %}
                    <tr>

                        <td><label type="text" id="Unique_ID " >{{row.Unique_ID}}</label></td>
                        <td>
                            <div class='edit' > {{row.BGV}}</div> 
                            <input type='text' class='txtedit' value='{{row.BGV}}' id='BGV.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Active}}</div> 
                            <input type='text' class='txtedit' value='{{row.Active}}' id='Active_{{row.Unique_ID}}' >
                        </td>
                        <td><label type="text" id="Avaialbility " >{{row.Avaialbility}}</label></td>
                        <td><label type="text" id="Last_shipment_date " >{{row.Last_shipment_date}}</label></td>
                        <td><label type="text" id="Last_shipment_day " >{{row.Last_shipment_day}}</label></td>
                        <td><label type="text" id="On_Shipment " > {{row.On_Shipment}}</label></td>
                        <td>
                            <div class='edit' > {{row.Blacklisted}}</div> 
                            <input type='text' class='txtedit' value='{{row.Blacklisted}}' id='Blacklisted.{{row.Unique_ID}}' >
                        </td>
                    </tr>

                        </td>
                    </tr> 
                    {% endfor %}    
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>     
           

{% endblock %}


{% block footer %}
    <script type="text/javascript" src="{{url_for('static', filename= 'js/activity_list.js') }}" > </script>
{% endblock %}