{% extends "index.html" %}

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% block head %} 


{% block head %} 
           
        <div class="container-fluid px-1 py-40 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-5 col-lg-8 col-md-9 col-9 text-center">
                    <br>
                    <div class="card">











                 </div>
                    
            </div>
        </div>



{% endblock %}