{% extends "index.html" %}
{% block head %} 

<div class="">
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-flow">
            <div class="table-title">
                <div class="row ">
                    <div class="col-sm-8"><h2>Compliance <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <!-- <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button> -->
                    </div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Working Hour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,item in shipment.items() %}
                    <tr>
                    
                        
                        <td>
                            <label type="text" id="key" >{{key}}</label>
                        </td>
                        <td>
                            <label type="text" id="item" >{{item}}</label>
                        </td>
                    </tr>      
                        </form>
                            </div>
                                        
                            </div>
                            </div>
                            </div>
                    {% endfor %}    
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>     
            


{% endblock %}

