{% extends "index.html" %}
{% block head %} 

     
           
        <div class="container-fluid px-1 py-40 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-9 text-center">
                <!-- <div class="col-xl-5 col-lg-6 col-md-7 col-9 text-center"> -->
                    <!-- <h3>Domino's Venture</h3> -->
                    
                    <div class="card">
                        <br>
                        <h5 class="text-center mb-4">WELCOME TO JUBILANT'S SERVICE</h5>
                        <br><br>
                        <a href="/driver" class="btn btn-primary">Register Driver</a>
                        <br>
                        <a href="/shipment" class="btn btn-secondary">Register Shipment</a>
                        <br><br><br>
                        
                    </div>
                    <br><br><br><br><br><br>
                </div>
            </div>
        </div>



{% endblock %}