{% extends "index.html" %}
{% block head %} 

<div class="container-lg">
    <div class=" table-responsive">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12"><h2>Employee <b>Details</b></h2></div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                </div>
            </div>
            <div class="scrollit">
            <div class="table table-bordered" style="padding: 10px 10px 10px 10px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Unique_ID</th>
                        <th>Date_of_Onboard</th>
                        <th>F_Name</th>
                        <th>M_Name</th>
                        <th>L_Name</th>
                        <th>Transpoter</th>
                        <th>Role</th>
                        <th>Address_1</th>
                        <th>Address_2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip_Code</th>
                        <th>Phone</th>
                        <th>Emergency_Person</th>
                        <th>Emergency_Contact_No</th>
                        <th>Marital_Status</th>
                        <th>Spouse_Name</th>
                        <th>No_of_Children</th>
                        <th>Aadhar_Number</th>
                        <th>PAN_Number</th>
                        <th>DL_No</th>
                        <th>DL_Type</th>
                        <th>DL_Date</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in employee %}
                    <tr>
                        <td><label type="text" id="Unique_ID " >{{row.Unique_ID}}</label></td>
                        <td><label type="text" id="Date_of_Onboard " >{{row.Date_of_Onboard}}</label></td>
                        <td>
                            <div class='edit' > {{row.First_Name}}</div> 
                            <input type='text' class='txtedit' value='{{row.First_Name}}' id='First_Name.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Middle_Name}}</div> 
                            <input type='text' class='txtedit' value='{{row.Middle_Name}}' id='Middle_Name.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Last_Name}}</div> 
                            <input type='text' class='txtedit' value='{{row.Last_Name}}' id='Last_Name.{{row.Unique_ID}}' >
                        </td>
                        <td><label type="text" id="Transporter " >{{row.Transporter}}</label></td>
                        <!-- <td>
                            <div class='edit' > {{row.Transporter}}</div> 
                            <input type='text' class='txtedit' value='{{row.Transporter}}' id='Transporter.{{row.Unique_ID}}' >
                        </td> -->
                        <td><label type="text" id="Role " >{{row.Role}}</label></td>
                        <!-- <td>
                            <div class='edit' > {{row.Role}}</div> 
                            <input type='text' class='txtedit' value='{{row.Role}}' id='Role.{{row.Unique_ID}}' >
                        </td> -->
                        <td>
                            <div class='edit' > {{row.Address_1}}</div> 
                            <input type='text' class='txtedit' value='{{row.Address_1}}' id='Address_1.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Address_2}}</div> 
                            <input type='text' class='txtedit' value='{{row.Address_2}}' id='Address_2.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.City}}</div> 
                            <input type='text' class='txtedit' value='{{row.City}}' id='City.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.State}}</div> 
                            <input type='text' class='txtedit' value='{{row.State}}' id='State.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Zip_Code}}</div> 
                            <input type='text' class='txtedit' value='{{row.Zip_Code}}' id='Zip_Code.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Mobile_No}}</div> 
                            <input type='text' class='txtedit' value='{{row.Mobile_No}}' id='Mobile_No.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Emergency_Contact_Person}}</div> 
                            <input type='text' class='txtedit' value='{{row.Emergency_Contact_Person}}' id='Emergency_Contact_Person.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Emergency_Contact_No}}</div> 
                            <input type='text' class='txtedit' value='{{row.Emergency_Contact_No}}' id='Emergency_Contact_No.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Marital_Status}}</div> 
                            <input type='text' class='txtedit' value='{{row.Marital_Status}}' id='Marital_Status.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Spouse_Name}}</div> 
                            <input type='text' class='txtedit' value='{{row.Spouse_Name}}' id='Spouse_Name.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.No_of_Children}}</div> 
                            <input type='text' class='txtedit' value='{{row.No_of_Children}}' id='No_of_Children.{{row.Unique_ID}}' >
                        </td>

                        <td>
                            <div class='edit' > {{row.Aadhar_Number}}</div> 
                            <input type='text' class='txtedit' value='{{row.Aadhar_Number}}' id='Aadhar_Number.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.PAN_Number}}</div> 
                            <input type='text' class='txtedit' value='{{row.PAN_Number}}' id='PAN_Number.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Driving_License_Number}}</div> 
                            <input type='text' class='txtedit' value='{{row.Driving_License_Number}}' id='Driving_License_Number.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Driving_License_Type}}</div> 
                            <input type='text' class='txtedit' value='{{row.Driving_License_Type}}' id='Driving_License_Type.{{row.Unique_ID}}' >
                        </td>
                        <td>
                            <div class='edit' > {{row.Drive_License_Validity}}</div> 
                            <input type='text' class='txtedit' value='{{row.Drive_License_Validity}}' id='Drive_License_Validity.{{row.Unique_ID}}' >
                        </td>
                        
                        
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
        </div>
            <div class="table"></div>
            
            <div class="table"></div><br>
            

        
    </div>
</div>     




{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{url_for('static', filename= 'js/driver_list.js') }}" > </script>
    {% endblock %}