{% extends "index.html" %}
{% block head %}

<div class="container-lg">
    <div class=" table-responsive">

        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Employee <b>Details</b></h2>
                </div>
                <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
            </div>
        </div>
        <div class="scrollit">
            <div class="table table-bordered" style="padding: 10px 10px 10px 10px">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Unique_ID</th>
                            <th>Date_of_Onboard</th>
                            <th>F_Name</th>
                            <th>M_Name</th>
                            <th>L_Name</th>
                            <th>Transpoter</th>
                            <th>Role</th>
                            <th>Address_1</th>
                            <th>Address_2</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip_Code</th>
                            <th>Phone</th>
                            <th>Emergency_Person</th>
                            <th>Emergency_Contact_No</th>
                            <th>Marital_Status</th>
                            <th>Spouse_Name</th>
                            <th>No_of_Children</th>
                            <th>Aadhar_Number</th>
                            <th>PAN_Number</th>
                            <th>DL_No</th>
                            <th>DL_Type</th>
                            <th>DL_Date</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for row in employee %}
                        <tr>
                            <td>
                                <a href="/update/{{row.Unique_ID}}" class="btn btn-warning btn-xs" data-toggle="modal"
                                    data-target="#modaledit{{row.Unique_ID}}">Edit</a>
                                <!-- <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a> -->
                            </td>
                            <td><label type="text" name="id" id="Unique_ID ">{{row.Unique_ID}}</label></td>
                            <td><label type="text" id="Date_of_Onboard ">{{row.Date_of_Onboard}}</label></td>
                            <td>
                                <div class='edit'> {{row.First_Name}}</div>
                                <input type='text' class='txtedit' value='{{row.First_Name}}' name="name"
                                    id='First_Name.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Middle_Name}}</div>
                                <input type='text' class='txtedit' value='{{row.Middle_Name}}' name="mname"
                                    id='Middle_Name.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Last_Name}}</div>
                                <input type='text' class='txtedit' value='{{row.Last_Name}}' name="lname"
                                    id='Last_Name.{{row.Unique_ID}}'>
                            </td>
                            
                            <td>
                            <div class='edit' > {{row.Transporter}}</div> 
                            <input type='text' class='txtedit' value='{{row.Transporter}}' name="transp" id='Transporter.{{row.Unique_ID}}' >
                        </td>
                            <td>
                            <div class='edit' > {{row.Role}}</div> 
                            <input type='text' class='txtedit' value='{{row.Role}}' name="role" id='Role.{{row.Unique_ID}}' >
                        </td>
                            <td>
                                <div class='edit'> {{row.Address_1}}</div>
                                <input type='text' class='txtedit' value='{{row.Address_1}}' name="a1"
                                    id='Address_1.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Address_2}}</div>
                                <input type='text' class='txtedit' value='{{row.Address_2}}' name="a2"
                                    id='Address_2.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.City}}</div>
                                <input type='text' class='txtedit' value='{{row.City}}' name="city"
                                    id='City.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.State}}</div>
                                <input type='text' class='txtedit' value='{{row.State}}' name="state"
                                    id='State.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Zip_Code}}</div>
                                <input type='text' class='txtedit' value='{{row.Zip_Code}}' name="zipc"
                                    id='Zip_Code.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Mobile_No}}</div>
                                <input type='text' class='txtedit' value='{{row.Mobile_No}}' name="mno"
                                    id='Mobile_No.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Emergency_Contact_Person}}</div>
                                <input type='text' class='txtedit' value='{{row.Emergency_Contact_Person}}' name="ecop"
                                    id='Emergency_Contact_Person.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Emergency_Contact_No}}</div>
                                <input type='text' class='txtedit' value='{{row.Emergency_Contact_No}}' name="eco"
                                    id='Emergency_Contact_No.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Marital_Status}}</div>
                                <input type='text' class='txtedit' value='{{row.Marital_Status}}'
                                    id='Marital_Status.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Spouse_Name}}</div>
                                <input type='text' class='txtedit' value='{{row.Spouse_Name}}'
                                    id='Spouse_Name.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.No_of_Children}}</div>
                                <input type='text' class='txtedit' value='{{row.No_of_Children}}'
                                    id='No_of_Children.{{row.Unique_ID}}'>
                            </td>

                            <td>
                                <div class='edit'> {{row.Aadhar_Number}}</div>
                                <input type='text' class='txtedit' value='{{row.Aadhar_Number}}' name="aadhar"
                                    id='Aadhar_Number.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.PAN_Number}}</div>
                                <input type='text' class='txtedit' value='{{row.PAN_Number}}' name="pan"
                                    id='PAN_Number.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Driving_License_Number}}</div>
                                <input type='text' class='txtedit' value='{{row.Driving_License_Number}}' name="dlno"
                                    id='Driving_License_Number.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Driving_License_Type}}</div>
                                <input type='text' class='txtedit' value='{{row.Driving_License_Type}}'
                                    id='Driving_License_Type.{{row.Unique_ID}}'>
                            </td>
                            <td>
                                <div class='edit'> {{row.Drive_License_Validity}}</div>
                                <input type='text' class='txtedit' value='{{row.Drive_License_Validity}}'
                                    id='Drive_License_Validity.{{row.Unique_ID}}'>
                            </td>


                        </tr>
                        
                        <div id="modaledit{{row.Unique_ID}}" class="modal fade" style="margin-top: 10px;" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Information</h4>
                                    </div>
                                    <!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        </div> -->
                                    <div class="modal-body change">
                                        <form action="/update/{{row.Unique_ID}}" method="POST">
                                            <div class="form-group">
                                                <label>First Name:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="name"
                                                    id="First_Name.{{row.Unique_ID}}" value="{{row.First_Name}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Middle Name:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="mname"
                                                    id="Middle_Name.{{row.Unique_ID}}" value="{{row.Middle_Name}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="lname"
                                                    id="Middle_Name.{{row.Unique_ID}}" value="{{row.Last_Name}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Transporter:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <select class="form-group col-sm-8 flex-column d-flex" id="transp" name="transp" placeholder="Transporter" onblur="valid(4)" style="padding-top: 10px" >   
                                                    <option value="{{row.Transporter}}" >{{row.Transporter}} </option>
                                                    {% for tran in transport%}
                                                        <option value="{{tran.Transporter}}" > {{tran.Transporter}}</option>
                                                    {% endfor %}
                                                    </select>

                                                </div>
                                            <div class="form-group">
                                                <label>Role:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <select class="form-group col-sm-8 flex-column d-flex" id="role" name="role" placeholder="Role" onblur="valid(4)" style="padding-top: 10px">   
                                                    <option value="{{row.Role}}">{{row.Role}} </option>
                                                        <option value="Driver" name="role" id="Role.{{row.Unique_ID}}"> Driver</option>
                                                        <option value="Dispatcher" name="role" id="Role.{{row.Unique_ID}}"> Dispatcher</option>
                                                    </select>



                                                <input type="text" class="form-control" name="role"
                                                    id="Role.{{row.Unique_ID}}" value="{{row.Role}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Address 1:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="a1"
                                                    id="Middle_Name.{{row.Address_1}}" value="{{row.Address_1}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Address 2:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="a2"
                                                    id="Middle_Name.{{row.Address_2}}" value="{{row.Address_2}}">
                                                </div>
                                            <div class="form-group">
                                                <label>City:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="city"
                                                    id="Middle_Name.{{row.City}}" value="{{row.City}}">
                                                </div>
                                            <div class="form-group">
                                                <label>State:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="state"
                                                    id="Middle_Name.{{row.State}}" value="{{row.State}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Zip Code:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="zipc"
                                                    id="Middle_Name.{{row.Zip_Code}}" value="{{row.Zip_Code}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Mobile_No:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="mno"
                                                    id="Middle_Name.{{row.Mobile_No}}" value="{{row.Mobile_No}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Emergency_Contact_Person:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="ecop"
                                                    id="Middle_Name.{{row.Emergency_Contact_Person}}"
                                                    value="{{row.Emergency_Contact_Person}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Emergency_Contact_No:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="eco"
                                                    id="Middle_Name.{{row.Emergency_Contact_No}}"
                                                    value="{{row.Emergency_Contact_No}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Marital_Status:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="ms"
                                                    id="Middle_Name.{{row.Marital_Status}}"
                                                    value="{{row.Marital_Status}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Spouse Name:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="spn"
                                                    id="Middle_Name.{{row.Spouse_Name}}"
                                                    value="{{row.Spouse_Name}}">
                                                </div>
                                            <div class="form-group">
                                                <label>No of children:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="noc"
                                                    id="Middle_Name.{{row.No_of_Children}}"
                                                    value="{{row.No_of_Children}}">
                                                </div>
                                            <div class="form-group">
                                                <label>Aadhar number:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="aadhar"
                                                    id="Middle_Name.{{row.Aadhar_Number}}"
                                                    value="{{row.Aadhar_Number}}">
                                                </div>
                                            <div class="form-group">
                                                <label>PAN number:</label>
                                                <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                <input type="text" class="form-control" name="pan"
                                                    id="Middle_Name.{{row.PAN_Number}}"
                                                    value="{{row.PAN_Number}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>DL number:</label>
                                                    <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                    <input type="text" class="form-control" name="dlno"
                                                        id="Middle_Name.{{row.Driving_License_Number}}"
                                                        value="{{row.Driving_License_Number}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>DL date:</label>
                                                        <input type="hidden" name="id" value="{{row.Unique_ID}}">
                                                        <input type="date" class="form-control" name="dld"
                                                            id="Middle_Name.{{row.Drive_License_Validity}}"
                                                            value="{{row.Drive_License_Validity}}">
                                                        </div>

                                            <div class="form-group">
                                                <button class="btn btn-primary" value="Update Name"
                                                    type="submit">Update</button>
                                                </div>
                                            
                                        </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table"></div>

        <div class="table"></div><br>
        <script>

        </script>


    </div>
</div>




{% endblock %}

<!-- {% block footer %}
<script type="text/javascript" src="{{url_for('static', filename= 'js/driver_list.js') }}"> </script>
{% endblock %} -->