<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'CSS/login.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css') }}">
    
  </head>
  <body class="text-center">
    
<main class="container-fluid form-signin w-100 m-auto">

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
  <h class="{{ category }}">{{ message }}</h>
    {% endfor %}
    {% endif %}
  {% endwith %}
</div>
  <form action = "/login" method = "POST">
    <img class="mb-4" src="{{url_for('static', filename= 'images/1.jpg') }}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">LogIn Account</h1>
    <!-- <div class='btn btn-info' id="displaymessage" style="display:none;width:10%;margin-top:1px;">
    <h1>dfghhg</h1></div> -->
    <div class="form-floating">
      
      <input type="text" class="form-control" id="user" name="user" placeholder="" required>
      <label for="user">User Name</label>
    </div>
    <hr>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" name= "pass" placeholder="" required>
      <label for="pass">Password</label>
    </div>
    <br>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">LogIn</button>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
  </form>
</main>
    
  </body>

</html>