{% extends "index.html" %}
{% block head %} 

<div class="">
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-flow">
            <div class="table-title">
                <div class="row ">
                    <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <!-- <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button> -->
                    </div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Shipment_No</th>
                        <th>Vehicle_No</th>
                        <th>Shipment_Type</th>
                        <th>Pilot1_unique_ID</th>
                        <th>pilot2_unique_ID</th>
                        <th>Dispatcher_unique_ID</th>
                        <th>Transporter</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in shipment %}
                    <tr>
                        <td><label type="text" id="Shipment_No" >{{row.Shipment_No}}</label></td>
                        <td><label type="text" id="Vehicle_No" >{{row.Vehicle_No}}</label></td>
                        <td><label type="text" id="Shipment_Type" >{{row.Shipment_Type}}</label></td>
                        <td><label type="text" id="Pilot_unique_ID" >{{row.Pilot_unique_ID}}</label></td>
                        <td><label type="text" id="Copilot_unique_ID" >{{row.Copilot_unique_ID}}</label></td>
                        <td><label type="text" id="Dispatcher_unique_ID" >{{row.Dispatcher_unique_ID}}</label></td>
                        <td><label type="text" id="Transporter" >{{row.Transporter}}</label></td>
                        <td>
                            
                            <a  class="edit" title="Edit" data-toggle="tooltip" id="{{row.Shipment_No}}"><i class="material-icons"> &#xE254;</i></a>
                            <a class="add" title="Add" data-toggle="tooltip" id="{{row.Shipment_No}}"><i class="material-icons">&#xE03B;</i></a>
                            <!-- <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.Shipment_No}}"><i class="material-icons">&#xE872;</i></a> -->
                        </td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>     
            <!-- <div class="table"></div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="table"></div><br> -->


{% endblock %}


{% block footer %}

    <script type="text/javascript" src="{{url_for('static', filename= 'js/ship_list.js') }}" > </script>
{% endblock %}