{% extends "index.html" %}
{% block head %} 

<script>
$(document).ready(function () {
    $(".text").hide();
    $("#r1").click(function () {
        $(".text").show();
    });
    $("#r2").click(function () {
        $(".text").hide();
    });
});
</script>
     
            {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
        <div class="container-fluid px-1 py-40 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-9 text-center">
                
                    <div class="card">
                        <h5 class="text-center mb-4">Driver Tracking</h5>
                        <form class="form-card"  action = "/shipment" method = "POST">
                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Shipment number<span class="text-danger"> *</span></label> <input type="text" id="Shipment_No" name="Shipment_No" placeholder="" onblur="validate(1)" required> </div>
                            </div>
                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex"> <label class=" form-control-label px-3">Vehicle Number<span class="text-danger"> *</span></label> <input type="text" id="Vehicle_No" name="Vehicle_No" placeholder="" onblur="validate(2)" required> </div>
                            </div>
                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Shipment type<span class="text-danger"> *</span></label> 
                                    <label class="form-control-label px-3"><input type="radio" id="r2" name="Shipment_Type" value="Local">   Local</label>
                                    <label class="form-control-label px-3"><input type="radio" id="r1" name="Shipment_Type" value="Outstation" placeholder="" onblur="validate(3)" required> Outstation</label> 
                                </div>
                            </div>

                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex " > <label class="form-control-label px-3">Pilot 1 Unique ID<span class="text-danger"> *</span></label> 
                                    <select class="form-group col-sm-8 flex-column d-flex Pilot_unique_ID" id="Pilot_unique_ID"  name="Pilot_unique_ID" placeholder="Pilot_unique_ID" onblur="validate(4)" style="padding-top: 10px; align-self: stretch;" required>
                                        <option value=""> </option>
                                        {% for row in Driver %}
                                        <option value="{{row.Unique_ID}}">{{row.Unique_ID}}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                            </div>
                        <div class="text">
                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex " > <label class="form-control-label px-3">Pilot 2 Unique ID<span class="text-danger"> *</span></label> 
                                    <select class="form-group col-sm-8 flex-column d-flex Copilot_unique_ID" id="Copilot_unique_ID"  name="Copilot_unique_ID" placeholder="Copilot_unique_ID" onblur="validate(5)" style="padding-top: 10px; align-self: stretch;">
                                        <option value=""> </option>
                                        {% for row in Driver %}
                                        <option value="{{row.Unique_ID}}">{{row.Unique_ID}}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex" > <label class="form-control-label px-3">Dispatcher Unique ID<span class="text-danger"> *</span></label> 
                                    <select class="form-group col-sm-8 flex-column d-flex " id="Dispatcher_unique_ID"  name="Dispatcher_unique_ID" placeholder="Dispatcher_unique_ID" onblur="validate(6)" style="padding-top: 10px; align-self: stretch;" required>
                                        <option value=""> </option>
                                        {% for row in Dispatcher %}
                                        <option value="{{row.Unique_ID}}">{{row.Unique_ID}}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                            </div>



                            <div class="row justify-content-center text-left">
                                <div class="form-group col-sm-8 flex-column d-flex " > <label class="form-control-label px-3">Transporter<span class="text-danger"> *</span></label> 
                                    <select class="form-group col-sm-8 flex-column d-flex " id="Transporter"  name="Transporter" placeholder="Transporter" onblur="validate(7)" style="padding-top: 10px; align-self: stretch;" required>   
                                        <option value=""> </option>
                                        <option value="DHL">  DHL</option>
                                        <option value="RAPID">  RAPID</option>
                                        <option value="RELICORP">  RELICORP</option>
                                        <option value="Other">  Other</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="row justify-content-center text-left">
                                <div class="form-group col-8 flex-column d-flex"> <label class="form-control-label px-3   ">Add Time<span class="text-danger"> *</span></label> <input type="text" id="ans" name="Add_Time" placeholder="" onblur="validate(6)"> </div>
                            </div> -->
                            <div class="row justify-content-center">
                                <div class="form-group col-sm-6"> <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button> 
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}




{% block footer %}



<script>

    $('.Pilot_unique_ID').on('change', function() {
  var selected_options = $('.Pilot_unique_ID').map(function(){
    return this.value
  }).get();

  $('.Copilot_unique_ID option').each(function(index) {
    $(this).prop('disabled', $.inArray($(this).val(), selected_options) != -1);
  });
});


    $('.Copilot_unique_ID').on('change', function() {
  var selected_options = $('.Copilot_unique_ID').map(function(){
    return this.value
  }).get();

  $('.Pilot_unique_ID option').each(function(index) {
    $(this).prop('disabled', $.inArray($(this).val(), selected_options) != -1);
  });
});


 </script>
     {% endblock %}
